data/
.vscode/
app/
LopezFloresRoyer_Cuaderno
graph.md
graph2.md
*.md
*.pth
*.zip
requirements.txt
*.bin
.dockerignore
docker-compose.yml
Dockerfile
LopezFloresRoyer_informe_tecnico*.pdf
*.txt
!proyectoRetrieval/*
proyectoRetrieval/data
!readme.md
LopezFloresRoyer_ExperimentacionCuadernoLIT_respuestas.ipynb